DEBUG = True
STATIC_DIR = "./static/"
LOCAL_DATA_DIRS = {
	"showcase": "static/data/showcase/",
	"projects": "/home/arose/projects/",
	"test_data": "/home/arose/dev/test_data/"
}
MAX_CONTENT_LENGTH = 64 * 1024 * 1024