DEBUG = True
STATIC_DIR = "./static/"
LOCAL_DATA_DIRS = {
	"showcase": "static/data/showcase/",
	"projects": "/home/arose/projects/",
	"test_data": "/home/arose/dev/test_data/"
}
MAX_CONTENT_LENGTH = 64 * 1024 * 1024
PROXY = 'proxy.charite.de:888'
REQUIRE_AUTH = False

import sys
sys.path.append('/home/arose/projects/pdb_structures/')
import basekit

TOOLS = {
	"msms": basekit.msms.Msms,
	"pdb2pqr": basekit.apbs.Pdb2pqr,
	"apbs": basekit.apbs.Apbs,
}

JOB_DIR = "./static/tmp/"
JOB_WORKERS = 4